body
  padding: 50px
  font: 14px "Source Code Pro for Powerline",
              "Source Code Pro", "Lucida Grande",
              Helvetica, Arial, sans-serif
  background-color: silver
a
  color: #00B7FF
