doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    script(id='topology-data', type='application/json', src='/topology')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

  body
    h1 Network #{title}
    #viewspace
    script(src='js/index.js')
